body{
    padding: 0px;
    margin: 0px;
}

#same-button{
    background-color: #C92677;
    color: white;
}

#same-button:hover{
    background-color: blue;
}

#jumbo-button{
    background-color: #C92677;
    color: white;
}
#jumbo-button:hover{
    background-color: blue;
}


#logo-pic{
    width: 150px !important;
    height: 100px !important;
}

.owl-carousel .owl-nav {
    position: absolute;
    right: 0;
    top: -3rem;
}

#sale-heading{
    color: #C92677;
}

/*==================== 
	Footer 
====================== */
.line{
    width: 30%;
    height: 3px;
    border-radius: 2px;
    margin-left: 0px;
    background: linear-gradient(to left, red, blue);
}

.footer-links{
    color: #C92677;
}
.footer-links:hover{
    text-decoration: none;
}

.footer-para{
    padding-right: 30px;
    font-size: 13px;
}

#footer-button{
    background-color: #C92677;
    color: white;
}
#footer-button:hover{
    background-color: blue;
}

/* Bounce To Top */
.hovr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hovr:before {
  content: "Test";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hovr:hover, .hovr:focus, .hovr:active {
  color: white;
}
.hovr:hover:before, .hovr:focus:before, .hovr:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}